// variables - typography, color, border, font-size, media-query-breakpoints, animation-durations, ...  //
@import url("https://fonts.googleapis.com/css?family=Montserrat");

// FONTS
$font-fam: Montserrat, -apple-system, "Helvetica Neue", sans-serif;

// COLORS
$main-color: #45379291;
$white-color: #fff;
$light-grey-color: #ccc;
$black-color: #000;
$dark-grey-color: #4d4d4d;
$orangy-color: #ff7f50;

$shadow-dark-bg: 8px 8px 29px 7px rgba(0, 0, 0, 0.75);
// RESETS
// *,
// *::before,
// *::after {
//   // box-sizing: border-box;
// }

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-fam;
}
// MIXINS

// FUNCTIONS

@function set-text-color($background) {
  @if (lightness($background) > 50) {
    @return #000; // Lighter backgorund, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}

// keyframes
@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
