// component classes like HEADERS, FOOTERS, BTN, CARDS, COMMENTS, ...
@import "./base";

// header
.header {
  background-color: $dark-grey-color;
  color: $white-color;
  a {
    background-color: darken($dark-grey-color, 20);
    color: $orangy-color;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 16px;

    &:hover {
      background-color: $orangy-color;
      color: $white-color;
      transition: 150ms ease-in-out;
    }
  }
}

// modal
.modal {
  // display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  .modal-content {
    background-color: $white-color;
    margin: 20% auto;
    width: 70%;
    padding: 1.5rem 2rem;
    box-shadow: $shadow-dark-bg;
    animation-name: modal;
    animation-duration: 600ms;
  }

  .modal-close-btn {
    color: $light-grey-color;
    font-size: 3rem;
    float: right;

    &:hover,
    &:focus {
      color: $dark-grey-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

// add-btn
.add-btn {
  border-radius: 50%;
  background-color: darken($dark-grey-color, 20);
  color: $orangy-color;
  border: 0;

  &:hover {
    background-color: $orangy-color;
    color: darken($dark-grey-color, 20);
    transition: 100ms ease-in-out;
  }
}

.add-list-btn {
  background-color: $light-grey-color;
  border-bottom: 1px solid #000;
}

// todo-lists
.todo-lists {
  background-color: $light-grey-color;

  .todo-list-thumbnail {
    // background-color: $main-color;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000;
  }

  .list-thumbnail-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: $main-color;
    display: grid;
    justify-items: center;
    align-items: center;

    &:hover {
      color: $light-grey-color;
      background-color: $dark-grey-color;
      transition: 200ms ease-in-out;
    }
  }

  .thumbnail-edit {
    position: absolute;
    width: 20px;
    height: 20px;

    text-align: center;
    background-color: $main-color;
    color: $light-grey-color;
    cursor: pointer;

    &:hover {
      background-color: $light-grey-color;
      color: $main-color;
      transition: 200ms ease-in-out;
    }
    // right: 10px;
  }
}

.list-header {
  padding: 1rem;
}

.list-items {
  .list-item {
    border: 1px grey solid;
  }

  &:nth-child(even) {
    background-color: #ccc;
  }
}

// footer
.footer {
  background-color: $dark-grey-color;
  color: $white-color;
}
