// handles the overall layout of the web page such as container and grid systems.
@import "./base";

body {
  display: grid;
}

.app {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  // position: relative;
}

.todo-lists {
  display: grid;
  width: 90%;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5rem;
}

.add-btn {
  font-size: 1rem;
}

.footer {
  position: relative;
  top: 200px;
}
