// handles the overall layout of the web page such as container and grid systems.
@import "./base";

.app {
  display: grid;
  min-height: 100vh;
}

.header {
  min-height: 12vh;

  display: grid;
  justify-items: center;
  align-items: center;
}
.add-list-btn {
  min-height: 5vh;

  display: grid;
  justify-items: center;
  align-items: center;
}

.add-list-form {
  padding: 2rem;
}

.todo-lists {
  min-height: 65vh;

  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5rem;
}

.todo-list-thumbnail {
  min-height: 50px;
  max-height: 100px;

  display: grid;
  justify-items: center;
  align-items: center;
}

.add-btn {
  // font-size: 1rem;
}

.footer {
  min-height: 6vh;
  padding: 10px;
  display: grid;
  justify-items: center;
  align-items: center;

  // width: 100vw;
  // position: absolute;
  // bottom: 0;
}
