@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body,
html {
  margin: 0;
  padding: 0;
  font-family: Montserrat, -apple-system, "Helvetica Neue", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Montserrat, -apple-system, "Helvetica Neue", sans-serif;
}

.header {
  background-color: #4d4d4d;
  color: #fff;
}

.header a {
  background-color: #1a1a1a;
  color: #ff7f50;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 16px;
}

.header a:hover {
  background-color: #ff7f50;
  color: #fff;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.add-btn {
  border-radius: 50%;
  background-color: #1a1a1a;
  color: #ff7f50;
  border: 0;
}

.add-btn:hover {
  background-color: #ff7f50;
  color: #1a1a1a;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.add-list-btn {
  background-color: #ccc;
  border-bottom: 1px solid #000;
}

.todo-lists {
  background-color: #ccc;
}

.todo-lists .todo-list-thumbnail {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000;
}

.todo-lists .list-thumbnail-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #45379291;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-lists .list-thumbnail-link:hover {
  color: #ccc;
  background-color: #4d4d4d;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.todo-lists .thumbnail-edit {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #45379291;
  color: #ccc;
  cursor: pointer;
}

.todo-lists .thumbnail-edit:hover {
  background-color: #ccc;
  color: #45379291;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.list-header {
  padding: 1rem;
}

.list-items .list-item {
  border: 1px grey solid;
}

.list-items:nth-child(even) {
  background-color: #ccc;
}

.footer {
  background-color: #4d4d4d;
  color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Montserrat, -apple-system, "Helvetica Neue", sans-serif;
}

.app {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

.header {
  min-height: 12vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-list-btn {
  min-height: 5vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-list-form {
  padding: 2rem;
}

.todo-lists {
  min-height: 65vh;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5rem;
}

.todo-list-thumbnail {
  min-height: 50px;
  max-height: 100px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item {
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 5px;
}

.footer {
  min-height: 6vh;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li {
  display: inline;
  margin: 0 3rem;
}

.active-header {
  text-decoration: overline underline;
}

.links {
  padding: 6px 10px;
  background-color: #666;
  color: #fff;
  border-radius: 40px;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}

.links:hover {
  background-color: #fff;
  color: #666;
}
/*# sourceMappingURL=main.css.map */